
<div class="container p-4">

<div class="container p-4">
  <div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="/img/menu_modulos/gestion_humano.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gestion Humana</h5>
         <a href="/signingestionhumana" class="btn btn-info">Ir a modulo</a><br><br>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="/img/menu_modulos/gestion_calidad.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gestion de calidad</h5>
          <a href="/signin_gestioncalidad" class="btn btn-info">Ir a modulo</a><br><br>
      </div>
    </div>
  </div>
   <div class="col mb-4">
    <div class="card">
      <img src="/img/menu_modulos/repositorio.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Repositorio FET</h5>
          <a href="" class="btn btn-info">Ir a modulo</a><br><br>
      </div>
    </div>
  </div>
</div>