<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            
                <div class="card">
                    <div class="card-body">
                        <div class="card text-center">
                            <form action="/setusers/register_employed" method="post">
                                <div class="form-group">
                                    <h5 class="card-title">Registro de docentes</h5>
                                    <label class="form-label">nombre completo</label>
                                    <input type="text" class="form-control" name="nombres" placeholder="nombre" autofocus required/>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">correo institucional</label>
                                    <input type="email" class="form-control" name="correo_electronico" placeholder="ejemplo@fet.edu.co"  required/>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">identificacion</label>
                                    <input type="number" class="form-control" name="identificacion" placeholder="CC"  required/>
                                </div>

                                <div class="form-group">                    
                                    <label>Nivel academico</label><br>
                                    <select name="id_programa" class="btn btn-success ">
                                        {{#each nivel_academico}} "
                                    <option value="{{id_Nivel_Aca}}" selected>{{Academico}}</option> 
                                        {{/each}}
                                    </select>                             
                                 </div>

                                 <div class="form-group">
                                    <label class="form-label">Fecha de inicio</label>
                                    <input type="date" class="form-control" name="fecha_inicio"  min="2020-01-01" max="2022-09-01"  required/>
                                </div>
                                 <div class="form-group">
                                    <label class="form-label">Fecha final</label>
                                    <input type="date" class="form-control" name="fecha_final"  min="2020-01-01" max="2022-09-01"  required/>
                                </div>

                                <div class="form-group">
                                    <label class="form-label"> </label><br>
                                    <button class="btn btn-primary btn-block" type="submit">Enviar</button><br>
                                    <label class="form-label"> </label><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>          
        </div>
    </div>
</div>