<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenida a la plataforma virtual fet Administrador</h3>
                    <label>Usuario: {{user.username}}</label>
                    <a class="btn btn-primary" href="/administrador/add_teacher" role="button">Registrar_Usuarios</a>
                    <br><br>
                    <a class="btn btn-primary" href="#" role="button">Registrar_Administradores</a>
                </div>
            </div>
        </div>
    </div>
</div>