<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <form action="#" onsubmit="event.preventDefault()">
                        <h2>conversion numeros</h2>
                        <img src="/img/logo_fet.jpg" alt="Fet" class="card-img-top mx-auto m-2 rounder-circle w-50"> 
                        <div class="form-group">
                          <input type="hidden">
                          <label class="form-label">numeros</label>
                          <input type="text" class="form-control" id="numero"  autofocus required/>
                        </div>
                       <div class="form-group">
                            <label class="form-label">A letras</label>
                            <p id="message"> </p>
                        </div>                       
                        <div class="form-group">
                            <label class="form-label"> </label><br>
                            <button class="btn btn-primary btn-block" type="submit">convertir</button><br>
                             <label class="form-label"> </label><br>
                        </div>
                    </form>
                </div>  
            </div>
        </div>
    </div>
</div>